name: Generate Sitemap
on:
  push:
    branches: [ main ] # Change this if your default branch is 'master'

jobs:
  sitemap_job:
    runs-on: ubuntu-latest
    name: Generate XML Sitemap
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 
      
      - name: Generate the sitemap
        uses: cicirello/generate-sitemap@v1
        with:
          base-url-path: 'https://your-website-url.com' # REPLACE THIS
          
      - name: Commit and Push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add sitemap.xml
          git commit -m "Automated sitemap update" || echo "No changes to commit"
          git push
